#root {
  /*max-width: 1440px;*/
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
}

button{
  font-size: 16px!important;
  padding-top: 12px;
  padding-bottom: 10px;
  width: 100%!important;
}
.currencies-table .MuiButtonBase-root{
  width: 55px!important;
}

.exchange .MuiButtonBase-root{
  width: 55px!important;
}